* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 420px;
}

.content-header::before {
  content: "";
  background: linear-gradient(rgba(255, 255, 255, 0.63) 0, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content-header-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  position: relative;
  z-index: 1;
  width: 70%;
  margin: 0 auto;
  padding: 20px 0 50px 0;
}

.content-header-box-left {
  width: 20px;
  height: 20px;
}

.content-header-box-right {
  width: 20px;
  height: 20px;
}

.content-header-title {
  color: #242424;
  font-weight: 400;
  line-height: 1.875;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 44px;
}

.content-body {
  margin-top: 250px;
}

.content-body-title {
  color: #242424;
  font-weight: 400;
  line-height: 1.875;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 36px;
}

.content-body-box {
  width: 85%;
  margin: 0 auto;
}

.content-body-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}
.content-body-list div {
  margin-top: 20px;
  display: block;
  padding: 2px 15px;
  text-decoration: none;
  text-align: center;
}
.content-body-list div:hover {
  background-color: #C8A27A;
  color: #242424;
}

.content-body-list-item {
  color: #8d8d8d;
  font-weight: 400;
  line-height: 1.875;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 22px;
}

.content-body-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content-body-item-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-item {
  width: 330px;
  height: 330px;
}

.product-item-title {
  color: #242424;
  font-weight: 400;
  line-height: 1.875;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  padding-top: 16px;
  text-align: center;
}

.product-item-content {
  text-align: center;
}

#searchbar {
  margin-left: 35%;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

input[type=text] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}/*# sourceMappingURL=product.css.map */